body {
  /* background-color: #282c34; */
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 400;
}

.light-text {
  opacity: 0.3;
  font-size: 0.7em;
  font-weight: 900;
}

.btn-outline-primary {
  color: #ed864b;
  border-color: #ed864b;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover {
  background: #d4615a;
  border-color: #d4615a;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active {
  background: #ca5865 !important;
  border-color: #ca5865 !important;
}

table,
th,
td {
  border: 1px solid #f7f7f7 !important;
}

a {
  color: #ed864b;
}

a:hover {
  color: #d4615a;
}

a:active {
  color: #ca5865;
}

.piechart tspan,
.xAxis,
.yAxis {
  font-size: 14px;
}

.recharts-default-tooltip {
  /* background: #1b1d20 !important;
  border: #1b1d20 solid !important; */
}
