body {
  background-color: #282c34;
  font-size: 16px;
  color: #d5d5d5;
}

.light-text {
  opacity: 0.3;
  font-size: 0.7em;
  font-weight: 900;
}

.btn-outline-primary {
  color: #ccc;
  border-color: #ccc;
}

.btn-outline-primary:hover {
  background: #ccc;
  border-color: #ccc;
}

a {
  color: #56d19d;
}

.piechart tspan,
.xAxis,
.yAxis {
  font-size: 14px;
}

.recharts-default-tooltip {
  background: #1b1d20 !important;
  border: #1b1d20 solid !important;
}
